a:focus {
	outline: thin dotted;
}

.main-navigation button.menu-toggle:focus{
    outline: 1px dotted #000;

}

.home_pagination_link a:focus {
	color: #eda82f;
	border-bottom-color: #eda82f; 
}
.nav-links a:focus {
	background: #e87b27;
}
.nav-links .nav-previous a:focus:after {
	left: 5px;
	opacity: 0;
}
.nav-links .nav-next a:focus:before {
	right: 5px;
	opacity: 0;
}
.search_header .fa.fa-search:focus {
	color: #fff;
	background: #444;
}
.search_close:focus {
	background: #fff;
	color: #ddbd85;
	border: 3px solid #ddbd85;
}
.search_header .search-submit:focus, .error-404 form.search-form input[type="submit"]:focus, section.no-results.not-found form.search-form input[type="submit"]:focus {
	box-shadow: none;
	background: #d3a24d;
	border-color: #d3a24d;
	color: #fff;
}
.main-navigation ul li.focus a {
	color: #ed7d27;
}
.main-navigation ul > li.menu-item-has-children:focus:after,
.main-navigation ul > li.page_item_has_children:focus:after {
	border-top-color: #ed7d27;
}
.main-navigation ul li.focus > ul.sub-menu, 
.main-navigation ul li.focus > ul.children, 
.main-navigation ul ul li.focus ul {
	opacity: 1;
	filter: Alpha(opacity= 100);
	visibility: visible;
}
.main-navigation ul li ul.sub-menu li a:focus,
.main-navigation ul li ul.children li a:focus{
	color: #ed7d27;
}
.bloog-lite-slider-wrapper .slider_caption a:focus {
	color: #ddbd85;
}
#primary article .bloog_cat:focus {
	color: #e5a028;
}
#primary article a.bloog_post_title:focus {
	color: #d9ab57;
}
#primary .bloog_img_wrap:focus {
	filter: grayscale(50%);
	-webkit-filter: grayscale(50%);
}
.single #primary .bloog_img_wrap:focus {
	filter: grayscale(0%);
	-webkit-filter: grayscale(0%);
}
a.continue_link:focus {
	color: #c47d02;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-single-icon a:focus .apss-icon-block:after {
	display: none;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 .apss-single-icon a:focus .apss-icon-block {
	border-top-left-radius: 13px;
	border-bottom-right-radius: 13px;
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
}
#primary article footer.entry-footer .apss-social-share.apss-theme-4 a:focus .fa {
	color: #fff;
}
.fullwidth-sidebar-home #primary article a.bloog_post_title:focus, 
.fullwidth-sidebar-category-page #primary article a.bloog_post_title:focus, 
.fullwidth-sidebar-single-page #primary article a.bloog_post_title:focus {
	color: #ed7d27;
}
.widget_apsi_widget .aps-social-icon-wrapper .aps-each-icon a:focus {
	opacity: 0.8;
	filter: alpha(opacity=80);
}
.widget_bloog_lite_recent_posts .recent-post-wrap > a:focus {
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
}
.widget ul li:focus:before {
	border-color: #ed7d27;
	background: #ed7d27;
	box-shadow: 0 0 0 2px #fff inset;
}
.site-footer ul.instagram-pics li:focus img {
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
}
.email-twitter-phone-section-wrap a.bloog-email-title:focus {
	color: #ed7d27;
}
.bloog_img_title_twitter_wrap:focus img {
	animation-name: zoom-shake;
	-webkit-animation-name: zoom-shake;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	animation-iteration-count: 2;
	-webkit-animation-iteration-count: 2;
}
.site-info .footer_btm_left a:focus {
	color: #ed7d27;
}
.footer_btm_right .move_to_top_bloog:focus {
	background: #ed7d27;
}
.footer_btm_right .move_to_top_bloog:focus i.fa {
	color: #fff;
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
}
.fullwidth-single-page .wpcf7 form p input.wpcf7-submit:focus {
	background: #ed7d27;
	color: #fff;
}
.apsp-caption-disabled .apsp-pinterest-latest-pin .apsp-pinterest-image a:focus:after {
	opacity: 1;
	transform: scale(1);
	-webkit-transform: scale(1);
}

.main-navigation button.menu-toggle:focus .menu-bar {
	background: #ddbd85;
}

.main-navigation ul > li.menu-item-has-children:focus::after,
.main-navigation ul > li.page_item_has_children:focus::after {
    border-top-color: #ed7d27;
}

.main-navigation ul li:focus a, 
.main-navigation ul li ul.sub-menu li a:focus,
.main-navigation ul li ul.children li a:focus {
    color: #ed7d27;
}

	.main-navigation button.menu-toggle:focus .menu-bar, 
.main-navigation.toggled button.menu-toggle .menu-bar {
	background: #ddbd85;
}

.main-navigation ul > li.menu-item-has-children:focus::after,
.main-navigation ul > li.page_item_has_children:focus::after {
    border-top-color: #ed7d27;
}

.main-navigation ul li:focus a, 
.main-navigation ul li ul.sub-menu li a:focus,
.main-navigation ul li ul.children li a:focus {
    color: #ed7d27;
}